*{
    box-sizing: border-box;
   }
   body {
       background-color:#22430C;
       color: white;
    margin: 0;
   }
   /* Style untuk header */
   .header {
       width: 1280px;	
       position: fixed;	
   }
   /* Membuat tiga kolom yang tidak sama di mana masing-masing kolom bersifat “float” terhadap yang
   lainnya */
   .column {
    float: left;
    padding: 0px 10px;
   }
   /* Left column */
   .column.side {
    margin:170px 0px;
    width: 25%;
    background-color : #22430C;
   }
   /* Middle column */
   .column.middle {
    margin:170px 0px;
    width: 50%;
    background-color : #22430C;
   }
   
   
   /* Style untuk footer */
   .footer {
       width:1280px;
       position:fixed;
       margin: 560px 0px;
   }
   
   ul {
       list-style: none;
       background: #22438C;
       padding:0px 0px;
       margin: 120px 0px;
       position: fixed;
       width: 1280px;
       height: 60px;
   }
   ul li{
       display: inline-block;
       position: relatif;
       height:60px;
       padding:10px 8px;
   }
   ul li a{
       padding: 10px 0px;
       text-align: center;
   }
   
   ul a:hover{
       background-color: red;
   }
   
   ul li ul.dropdown li{
       display: block;
       
   }
   
   ul li ul.dropdown {
       background: #22438C;
       position: absolute;
       display:none;
       width:auto;
       height:auto;
       margin:0px 0px;
   }
   
   ul li:hover ul.dropdown {
       display:block;
   }